<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body>
    <h1>Danh sách sinh viên</h1>
   <% nameSv.danhsach1.forEach(function (items){ %>
    <li> <%= items %> </li> 
    <%
   })%>



    <%= 
    JSON.stringify(nameSv)
     %>





     <!-- <script>
    //  array.forEach(element => {
         
    //  });
    //  function name(params) {
         
    //  }
     </script> -->
</body>
</html>